@font-face {
  font-family: "digital";
  src: url("../../css/font/digital-7\ \(mono\).ttf");
  font-weight: bolder;
  font-style: bold;
}

:root {
  --row1-height:20vh;
  --row2-height:60vh;
}

body { 
  min-width:1280; 
  min-height: 768;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 * {
  box-sizing: border-box;
}

h1 { }

#warpper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: var(10vh) var(70vh) var(10vh) var(10vh);
  grid-template-areas:
    "group group group group status status"
    "clock clock clock clock status status"
    "sub_lane sub_lane sub_ch sub_ch status status"
    "lene lene channel channel status status";
  grid-gap: 0.4em;
}

#sub_ch {
  background-color: var(--darkgreen);
  color:var(--light);
  grid-area: sub_ch;
  overflow: hidden;
}

#sub_lane {
  background-color: var(--purple);
  color:var(--light);
  grid-area: sub_lane;
  overflow: hidden;
}

#channel {
  background-color: var(--darkgreen);
  color:var(--light);
  grid-area: channel;
  overflow: hidden;
}

#group {
  background-color: var(--primary);
  color:var(--light);
  grid-area: group;
  overflow: hidden;
}

#lene {
  background-color: var(--purple);
  color:var(--light);
  grid-area: lene;
  overflow: hidden;
}

#status {
  background-color: var(--superdark);
  color:var(--light);
  grid-area: status;
  overflow: hidden;
}

#clock {
  background-color: var(--black);
  color:var(--light);
  grid-area: clock;
  overflow: hidden;
}
#group h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:8vw; 
  margin: auto auto;
  line-height: 19vh;
}

#sub_ch h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:4vw; 
  margin: auto auto;
  line-height: 9vh;
}

#sub_lane h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:4vw; 
  margin: auto auto;
  line-height: 9vh;
}

#lene h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:8vw; 
  margin: auto auto;
  line-height: 19vh;
}

#channel h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:8vw; 
  margin: auto auto;
  line-height: 19vh;
}

  #clock span { 
  font-family: digital;
  color:var(--warning);
  font-size:28vw; 
  margin: auto auto;
  width:100%;
}

.circle {
  padding:45% 45%;
  border-radius: 50%;
  display: inline-block;
  margin: auto auto;
  }


.circle_gray {
  background-color: rgb(65, 65, 65);
  color: var(--secondary);
}

.circle_yellow  {
  background-color: gold;
  color: var(--dark);
}

.circle_red {
  background-color: rgb(197, 27, 27);
  color: var(--dark);
}

.circle_orange {
  background-color: rgb(197, 95, 27);
  color: var(--dark);
}

.circle_green {
    background-color: rgb(41, 197, 27);
    color: var(--dark);
  }


  .flex-container {
    display: flex;
    flex-direction: column;

  }
  
  .flex-container > div {
    text-align: center;
  }

